API_ID=19013351
API_HASH=d7d3bff9f7cf9f3b111129bdbd13a065
BOT_TOKEN=7819702893:AAG_7SpsUVXEK8ocFu4uaMPnAqZ4pBy8qG0:your_token
ADMIN_IDS=6728678197
MONGO_URI=mongodb+srv://iamnotmohit1_db_user:<iammohitgurjar.1>@kenshindb.esj4x5f.mongodb.net/?appName=KENSHINDB
DB_NAME=kenshin_anime_bot
STORAGE_GROUP_ID=-1003402760539
DELETE_AFTER=10
AUTO_CHECK_INTERVAL=60
FILE_PREFIX=@KENSHIN_ANIME
MAX_PARALLEL_DL=3
